.abc:hover{
background-color: rgb(198, 149, 240);

    }

.xyz{

    color: rgb(5, 10, 7);

}

.image{
    width: 35%;
    height: 10cm;
    display: block;
    margin: 0 auto 0 auto;   
    
}
.img{
    width: 100%;
    height: 650px;
}

.iot{
    color: whitesmoke;
}



.zxc{
    color: rgb(122, 3, 13);
}
.sicons{
    font-size: 40px;
}
.fa-facebook:hover,.fa-twitter:hover{
    color: black;
}
.fab{
    color: blueviolet;
}
#footer{
    background-color: rgb(24, 17, 7, 0.89);
    text-align: center;
}
.ftext{
    color: antiquewhite;
}
.cardhv :hover{
    background-color: brown;
    
}
.gpd:hover{
    background-color: crimson;
}
.ghp{
    color: white;
}








